# Aula 1: analisando dados

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [16]:
df['senioridade'].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [17]:
df['contrato'].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [18]:
df['remoto'].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [19]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [20]:

senioridade = {
    'SE': 'senior',
    'MI': 'pleno',
    'EN': 'junior',
    'EX': 'executivo'
}
df['senioridade'] = df['senioridade'].replace(senioridade)
df['senioridade'].value_counts()

senioridade
senior       77241
pleno        40465
junior       12443
executivo     3200
Name: count, dtype: int64

In [21]:
mapa_trabalho = {
    0: 'presencial',
    100: 'remoto',
    50: 'hibrido'
}

df['remoto'] = df['remoto'].replace(mapa_trabalho)
df['remoto'].value_counts()

remoto
presencial    105312
remoto         27718
hibrido          319
Name: count, dtype: int64

In [22]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,senior,FT,Solutions Engineer,214000,USD,214000,US,remoto,US,M
1,2025.0,senior,FT,Solutions Engineer,136000,USD,136000,US,remoto,US,M
2,2025.0,pleno,FT,Data Engineer,158800,USD,158800,AU,presencial,AU,M
3,2025.0,pleno,FT,Data Engineer,139200,USD,139200,AU,presencial,AU,M
4,2025.0,junior,FT,Data Engineer,90000,USD,90000,US,presencial,US,M

In [23]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,senior,FT,Data Scientist,USD,US,presencial,US,M
freq,77241,132563,17314,126140,119579,105312,119641,129561

# Aula 2: limpando e preparando dados

In [26]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,senior,FT,Solutions Engineer,214000,USD,214000,US,remoto,US,M
1,2025.0,senior,FT,Solutions Engineer,136000,USD,136000,US,remoto,US,M
2,2025.0,pleno,FT,Data Engineer,158800,USD,158800,AU,presencial,AU,M
3,2025.0,pleno,FT,Data Engineer,139200,USD,139200,AU,presencial,AU,M
4,2025.0,junior,FT,Data Engineer,90000,USD,90000,US,presencial,US,M

In [25]:
df.isnull()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [27]:
df.isnull().sum()

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
usd                 0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [28]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [30]:
df[df.isnull().any(axis = 1)]

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,senior,FT,Product Manager,184500,USD,184500,US,presencial,US,M
59692,NaN,pleno,FT,Engineer,110000,USD,110000,DE,presencial,DE,M
59710,NaN,junior,FT,Data Scientist,208800,USD,208800,US,presencial,US,M
59759,NaN,senior,FT,Software Engineer,135000,USD,135000,US,presencial,US,M
59789,NaN,senior,FT,Engineer,112000,USD,112000,US,presencial,US,M
131000,NaN,senior,FT,Machine Learning Engineer,163800,USD,163800,US,presencial,US,M
131006,NaN,senior,FT,Data Analytics Manager,204500,USD,204500,US,presencial,US,M
133054,NaN,junior,FT,Data Scientist,40000,USD,40000,JP,remoto,MY,L
133281,NaN,pleno,FT,Machine Learning Engineer,180000,PLN,46597,PL,remoto,PL,L
133317,NaN,pleno,FT,Data Scientist,130000,USD,130000,US,hibrido,US,L

# Lidando com valores nulos
Preenchendo com mdia e mediana para no desestabilizar a base de dados

In [31]:
import numpy as np

In [32]:
df_salarios = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo'],
    'salario': [4000, np.nan, 3500, np.nan, 5000]
})

# Preencher com a mdia salarial
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))

# Preencher com a mediana salarial
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())

df_salarios

      nome  salario  salario_media  salario_mediana
0      Ana   4000.0        4000.00           4000.0
1    Bruno      NaN        4166.67           4000.0
2   Carlos   3500.0        3500.00           3500.0
3    Diana      NaN        4166.67           4000.0
4  Eduardo   5000.0        5000.00           5000.0

# Exemplo de preenchimento com o valor anterior
Usar ffill (forward fill)

In [33]:
df_temperaturas = pd.DataFrame({
    'dia': ['Seg', 'Ter', 'Qua', 'Qui', 'Sex'],
    'temperatura': [30, np.nan, np.nan, 28, 27]
})

df_temperaturas['preenchido_ffill'] = df_temperaturas['temperatura'].ffill()

df_temperaturas

   dia  temperatura  preenchido_ffill
0  Seg         30.0              30.0
1  Ter          NaN              30.0
2  Qua          NaN              30.0
3  Qui         28.0              28.0
4  Sex         27.0              27.0

# Exemplo de preenchimento com o valor posterior
Usar bfill (backward fill)

In [ ]:
df_cidades = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo'],
    'cidade': ['So Paulo', np.nan, 'Curitiba', np.nan, 'Salvador']
})

df_cidades['cidade_corrigida'] = df_cidades['cidade'].fillna('No informado')

df_cidades

# Tratando o nosso DataFrame
## Removendo os dados nulos
Remoo das linhas com anos nulos:

In [34]:
df_limpo = df.dropna()

In [35]:
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
usd                0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

# Alterando o tipo de dados
Deixar o ano como nmero inteiro:

In [36]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,senior,FT,Solutions Engineer,214000,USD,214000,US,remoto,US,M
1,2025.0,senior,FT,Solutions Engineer,136000,USD,136000,US,remoto,US,M
2,2025.0,pleno,FT,Data Engineer,158800,USD,158800,AU,presencial,AU,M
3,2025.0,pleno,FT,Data Engineer,139200,USD,139200,AU,presencial,AU,M
4,2025.0,junior,FT,Data Engineer,90000,USD,90000,US,presencial,US,M

In [37]:
df_limpo = df_limpo.assign(ano=df_limpo['ano'].astype('Int64'))

In [38]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025,senior,FT,Solutions Engineer,214000,USD,214000,US,remoto,US,M
1,2025,senior,FT,Solutions Engineer,136000,USD,136000,US,remoto,US,M
2,2025,pleno,FT,Data Engineer,158800,USD,158800,AU,presencial,AU,M
3,2025,pleno,FT,Data Engineer,139200,USD,139200,AU,presencial,AU,M
4,2025,junior,FT,Data Engineer,90000,USD,90000,US,presencial,US,M